<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tuacy.databindingdev">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".simple.SimpleBindingActivity"
            android:label="入门例子" />
        <activity
            android:name=".simple.DataImportBindingActivity"
            android:label="data标签子标签import简单使用" />
        <activity
            android:name=".include.IncludeBindingActivity"
            android:label="data binding 配合include使用" />
        <activity
            android:name=".simple.NoFindViewByIdActivity"
            android:label="去除findViewById" />
        <activity
            android:name=".refresg.DataRefreshActivity"
            android:label="数据刷新" />
        <activity
            android:name=".twowaybinding.TwoWayBindingActivity"
            android:label="双向绑定" />
        <activity
            android:name=".twowaybinding.CustomerTwoWayBindingActivity"
            android:label="自定义View双向绑定" />
        <activity
            android:name=".eventbinding.EventBindingActivity"
            android:label="事件绑定" />
        <activity
            android:name=".recycler.RecyclerBindingActivity"
            android:label="data binding + recycler" />
        <activity
            android:name=".adapter.BindingAdapterActivity"
            android:label="Binding adapter" />
    </application>

</manifest>